.main-container-home{
    margin: 0;
    padding: 0;
    color: black;
    width: calc(100vw - 17px);
    height: 100%;
}

.container-nav{
    text-align: center;
    background-color: #017E5B;
}

.nav-list{
    margin: 0 0 16px 0;
    padding: 87px 0 10px 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin: 0 10px;
    width: max-content;
}

.nav-item button{
    background-color: white;
    border: none;
    color: #654321;
    border-radius: 10px;
    padding: 7px 30px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.nav-item button:hover{
    transform: scale(1.05); 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
}

.filter-container{
    display: flex;
    gap: 30px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filter-container select{
    height: 32px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: 700;
}

.filter-option{
    font-weight: 700;
    height: 32px;
}

.autocomplete-wrapper{
    display: inline-block;
    position: relative;
    z-index: 1;
}

.temperament-input{
    border-color: black;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
}

.temperament-button{
    margin-left: 10px;
    background-color: #f6b53c; 
    color: white; 
    border: none;
    border-radius: 10px;
    padding: 5px 15px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.temperament-button:hover{
    background-color: #f28500; 
    transform: scale(1.05); 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
}

.container-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.container-pagination button{
    background-color: #654321;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    color: white;
    font-weight: 600;
}

.container-pagination button[disabled]{
    background-color: #987654;
    cursor: no-drop;
}

.container-pagination input{
    height: 18px;
    width: 20px;
    padding: 5px 15px;
    border: 1px solid #242424;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
}